
%h3 Import Books
= render 'form', file_report: @file_report
%h3 Book List
.media
  .media-body
    %table.table.table-hover
      %thead
        %tr
          %th Uploaded By
          %th File Name
          %th Status
          %th{colspan: 2} Actions
        - @file_reports.each do |report|
          %tr
            %td= current_user.email
            %td= File.basename report.data_file.to_s
            %td= 'Upload Completed'
            %td
              =link_to "Download", '#'
            %td
              =link_to "View", file_report_path(report.id)